{
  "openapi": "3.0.0",
  "info": {
    "title": "Network API",
    "description": "Use this API to integrate Network Data into your own System. Note: This API is still Work-In-Progress",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://nwapi.buildtheearth.net/",
      "description": "Production Instance"
    },
    {
      "url": "http://localhost:8080",
      "description": "Development Instance"
    }
  ],
  "tags": [
    {
      "name": "Global Plot System"
    },
    {
      "name": "Build Teams"
    }
  ],
  "paths": {
    "/api/plotsystem/builders": {
      "get": {
        "tags": [
          "Global Plot System"
        ],
        "summary": "Get Builder Count",
        "description": "Returns the number of builders of the global plot system.",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/plotsystem/difficulties": {
      "get": {
        "tags": [
          "Global Plot System"
        ],
        "summary": "Get Difficulties",
        "description": "Returns the available difficulties of the global plot system.",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/plotsystem/teams/%API_KEY%/cities": {
      "get": {
        "tags": [
          "Global Plot System"
        ],
        "summary": "Get All Plot System Cities of a Team",
        "description": "Returns the cities of a Build Team that are available in the global plot system.",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/plotsystem/teams/%API_KEY%/countries": {
      "get": {
        "tags": [
          "Global Plot System"
        ],
        "summary": "Get All Plot System Countries of a Team",
        "description": "Returns the countries of a Build Team that are available in the global plot system.",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/plotsystem/teams/%API_KEY%/plots": {
      "get": {
        "tags": [
          "Global Plot System"
        ],
        "summary": "Get All Plots of a Team",
        "description": "Returns the plots of a Build Team that are available in the global plot system.",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Global Plot System"
        ],
        "summary": "Create a Plot for a Build Team",
        "description": "Saved the plot details for a new plot of a Build Team in the global plot system.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": [
                  {
                    "city_project_id": 1,
                    "difficulty_id": 1,
                    "mc_coordinates": "3190699.5,690.5,-4673990.0",
                    "outline": "4078352.0,-4550687.0|4078371.0,-4550675.0|4078370.0,-4550669.0|4078371.0,-4550668.0|4078371.0,-4550666.0|4078355.0,-4550635.0|4078348.0,-4550633.0|4078334.0,-4550642.0|4078328.0,-4550656.0|4078329.0,-4550655.0|4078351.0,-4550683.0",
                    "version": 3
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "Global Plot System"
        ],
        "summary": "Update  a Plot of a Build Team",
        "description": "Changes the plot details of a plot of a Build Team in the global plot system.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": [
                  {
                    "id": 1,
                    "status": "I love MineFact"
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/plotsystem/teams/%API_KEY%/reviews": {
      "get": {
        "tags": [
          "Global Plot System"
        ],
        "summary": "Get all reviews of a Build Team",
        "description": "Returns all reviews of a Build Team that are available in the global plot system.",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/plotsystem/teams/%API_KEY%/servers": {
      "get": {
        "tags": [
          "Global Plot System"
        ],
        "summary": "Get all servers of a Build Team",
        "description": "Returns all servers of a Build Team that are available in the global plot system.",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/teams/%API_KEY%": {
      "get": {
        "tags": [
          "Build Teams"
        ],
        "summary": "Get all Information about a Build Team",
        "description": "Returns all general information about a Build Team of BuildTheEarth.",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/teams/%API_KEY%/blank_name": {
      "get": {
        "tags": [
          "Build Teams"
        ],
        "summary": "Get Build Team Blank Name",
        "description": "Returns the blank name of a Build Team of BuildTheEarth without any color codes.",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/teams/%API_KEY%/continent": {
      "get": {
        "tags": [
          "Build Teams"
        ],
        "summary": "Get Build Team Continent",
        "description": "Returns the continent of a Build Team of BuildTheEarth.",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/teams/%API_KEY%/description": {
      "get": {
        "tags": [
          "Build Teams"
        ],
        "summary": "Get Build Team Display Description",
        "description": "Returns the description of a Build Team of BuildTheEarth.",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/teams/%API_KEY%/headid": {
      "get": {
        "tags": [
          "Build Teams"
        ],
        "summary": "Get Build Team Head ID",
        "description": "Returns the Custom Minecraft Head ID of a Build Team of BuildTheEarth used by https://minecraft-heads.com/custom-heads.",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/teams/%API_KEY%/name": {
      "get": {
        "tags": [
          "Build Teams"
        ],
        "summary": "Get Build Team Display Name",
        "description": "Returns the display name of a Build Team of BuildTheEarth.",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/teams/%API_KEY%/owners": {
      "get": {
        "tags": [
          "Build Teams"
        ],
        "summary": "Get Build Team Owners",
        "description": "Returns the Minecraft UUIDs of a Build Team Owners of BuildTheEarth.",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/teams/%API_KEY%/tag": {
      "get": {
        "tags": [
          "Build Teams"
        ],
        "summary": "Get Build Team Tag",
        "description": "Returns the Tag of a Build Team in BuildTheEarth.",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/teams/%API_KEY%/warps": {
      "get": {
        "tags": [
          "Build Teams"
        ],
        "summary": "Get Build Team Warps",
        "description": "Returns the warps of a build team of BuildTheEarth.",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },

      "post": {
        "tags": [
          "Build Teams"
        ],
        "summary": "Create a Build Team Warp",
        "description": "Creates a new warp for a build team of BuildTheEarth.",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                    "key": {
                        "type": "string",
                        "description": "The key of the warp."
                    },
                    "countryCode": {
                        "type": "string",
                        "description": "Country Code that matches the countryCodeType."
                    },
                    "countryCodeType": {
                        "type": "string",
                        "description": "Country Code Type like cca2, cca3, ccn3, or cioc",
                        "enum": ["cca2", "cca3", "ccn3", "cioc"]
                    },
                    "subRegion": {
                        "type": "string",
                        "description": "Name of the the subregion like state or province."
                    },
                    "city": {
                        "type": "string",
                        "description": "Name of the city."
                    },
                    "worldName": {
                        "type": "string",
                        "description": "The name of the world the warp is in."
                    },
                    "lat": {
                        "type": "number",
                        "description": "The latitude of the warp."
                    },
                    "lon": {
                        "type": "number",
                        "description": "The longitude of the warp."
                    },
                    "y": {
                        "type": "number",
                        "description": "The y coordinate of the warp."
                    },
                    "yaw": {
                        "type": "number",
                        "description": "The yaw of the warp."
                    },
                    "pitch": {
                        "type": "number",
                        "description": "The pitch of the warp."
                    },
                    "isHighlight": {
                        "type": "boolean",
                        "description": "Whether the warp is a highlight or not."
                    }

                },
                "example": [
                  {
                    "key": "My Test Warp",
                    "countryCode": "276",
                    "countryCodeType": "ccn3",
                    "subRegion": "Hesse",
                    "city": "Frankfurt am Main",
                    "worldName": "world",
                    "lat": 50.113481708923736,
                    "lon": 8.679198129877463,
                    "y": 32,
                    "yaw": 90,
                    "pitch": 0,
                    "isHighlight": false
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "Build Teams"
        ],
        "summary": "Delete a Build Team Warp",
        "description": "Deletes an existing warp from a build team of BuildTheEarth.",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                    "key": {
                        "type": "string",
                        "description": "The ID or Name of the warp.",
                        "example": "My Test Warp"
                    }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/teams/countries": {
      "get": {
        "tags": [
          "Build Teams"
        ],
        "summary": "Get Countries",
        "description": "Get a list of all countries along with their Build Team.",
        "responses": {
          "400": {
            "description": "No countries found."
          }
        }
      }
    },
    "/api/teams/warps": {
      "get": {
        "tags": [
          "Build Teams"
        ],
        "summary": "Get Warps",
        "description": "Get a list of all warps in BuildTheEarth.",
        "parameters": [
          {
            "name": "country",
            "description": "Filter the warps by country code.",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "subRegion",
            "description": "Filter the warps by subregion.",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "city",
            "description": "Filter the warps by city.",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "No warps found."
          }
        }
      }
    }
  }
}
